project_name: "ethereum-indexing" # Used in cloud and logging stuff
chain_name: "ethereum"            # Used in dataset names

chain_tip_buffer: 100             # Number of blocks to stay away from chain tip

rpc_url: "https://eth.drpc.org"   # URL of the RPC provider

datasets:                         # List of datasets to index
  - "blocks"
  - "transactions"
  - "logs"
  - "traces"

metrics:
  enabled: false                  # Set to true to enable metrics
