chain_name: "ethereum"            # Used in dataset names
start_block: 100                  # (Optional) Start block. If not provided, will start from the latest processedblock.
end_block: 101                    # (Optional) End block. If not provided, will run continuously until interrupted.
chain_tip_buffer: 100             # Number of blocks to stay away from chain tip
rpc_url: "https://eth.drpc.org"   # URL of the RPC provider

datasets:                         # List of datasets to index
  - "blocks"
  - "transactions"
  - "logs"
  - "traces"

metrics:
  enabled: false                  # Set to true to enable metrics
  address: "0.0.0.0"              # Metrics server address
  port: 9100                      # Metrics server port
